body{
background-image: url('dark_wood.png')
}
span{
   color: #FFBC00; 
   font-family:'Passion ONE';
   font-size: 20px;
}

p{
font-family: Arial;
font-size: 12px;
color: white;
background-color: #8E41D5;
}
h3{
color: #FFBC00;
background-color: #8E41D5;
}

li{
color: blue;
}
a{
    color: white;
    font-weight: bold;
    background-color: #8E41D5;
}

#Header{
    border:solid 8px black;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8E41D5;
}

#Header h1{
    font-size: 60px;
    font-family:'Passion ONE';
    color: #FFBC00;
    font-weight: bold;
    background-color: #8E41D5;
}

#LeftNav{
    border:solid 8px black;
    width: 400px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8E41D5;
}

#LeftNav img{

}

#LeftNav ul{
    list-style-type: none;
    background-color: #8E41D5;
    float: middle;
    padding-right: 30px;
}
#LeftNav h3{

}

#Content{
    border:solid 8px black;
    width: 700px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    text-align: center;
    padding: 15px;
    background-color: #8E41D5;

}

#Footer{
    text-align: center;
    background-color: #8E41D5;
}
#Footer ul{
    list-style-type: none;
    padding-left: 0px;
    background-color: #8E41D5;
}

